<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menú</p>

    <ng-container *ngIf="isAdmin()">
      <button mat-button routerLink="/dashboard/users">Usuarios</button>
      <button mat-button routerLink="/dashboard/students">Estudiantes</button>
    </ng-container>

    <button mat-button routerLink="/dashboard/courses">Cursos</button>
    <button mat-button routerLink="/dashboard/enrollments">Inscripciones</button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()"></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
