<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Menú lateral</p>

    <!-- Navegación -->
    <button mat-button routerLink="/dashboard/students">Estudiantes</button>
    
    <button mat-button routerLink="/dashboard/courses">Cursos</button>
    <!-- Ejemplo de texto opcional -->
  </mat-drawer>

  <div class="example-sidenav-content">

    <app-toolbar (drawerToggle)="drawer.toggle()"></app-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
