// === Theming Angular Material ===
@use '@angular/material' as mat;
@use './custom-theme';


// Importa los estilos base de Angular Material
@include mat.core();

// Aplica el tema personalizado
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// === Reset y tipografía base ===
html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f4f6;
  color: #333;
}

button {
  color: #4a148c !important; 
}
button:hover {
  color: #fff !important;
  background-color: #7e57c2 !important; 
}